@font-face {
    font-family: 'EuropeDemiC';
    src: url('subset-EuropeDemiC.woff2') format('woff2'),
        url('subset-EuropeDemiC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeCondensedC';
    src: url('subset-EuropeCondensedC-Italic.woff2') format('woff2'),
        url('subset-EuropeCondensedC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeC';
    src: url('subset-EuropeC.woff2') format('woff2'),
        url('subset-EuropeC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeExtendedC';
    src: url('subset-EuropeExtendedC-Italic.woff2') format('woff2'),
        url('subset-EuropeExtendedC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeC';
    src: url('subset-EuropeC-Bold.woff2') format('woff2'),
        url('subset-EuropeC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeDemiC';
    src: url('subset-EuropeDemiC-Italic.woff2') format('woff2'),
        url('subset-EuropeDemiC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeCondensedC';
    src: url('subset-EuropeCondensedC-Bold.woff2') format('woff2'),
        url('subset-EuropeCondensedC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeC';
    src: url('subset-EuropeC-Italic.woff2') format('woff2'),
        url('subset-EuropeC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeC';
    src: url('subset-EuropeC-BoldItalic.woff2') format('woff2'),
        url('subset-EuropeC-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeCondensedC';
    src: url('subset-EuropeCondensedC.woff2') format('woff2'),
        url('subset-EuropeCondensedC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeCondensedC';
    src: url('subset-EuropeCondensedC-BoldItalic.woff2') format('woff2'),
        url('subset-EuropeCondensedC-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeExtendedC';
    src: url('subset-EuropeExtendedC-BoldItalic.woff2') format('woff2'),
        url('subset-EuropeExtendedC-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeExtendedC';
    src: url('subset-EuropeExtendedC-Bold.woff2') format('woff2'),
        url('subset-EuropeExtendedC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeShadowC';
    src: url('subset-EuropeShadowC.woff2') format('woff2'),
        url('subset-EuropeShadowC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuropeShadowC';
    src: url('subset-EuropeShadowC-Italic.woff2') format('woff2'),
        url('subset-EuropeShadowC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuropeExtendedC';
    src: url('subset-EuropeExtendedC.woff2') format('woff2'),
        url('subset-EuropeExtendedC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

